! -----------------------------------------------------------------------------
! File: gruvbox-*56.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 13 Dec 2013
! -----------------------------------------------------------------------------


URxvt.scrollBar: false
URxvt.trasparent: false
#define fonts xft:Fantasque Sans Mono:size=11,\
		xft:FontAwesome:style=Regular,\
		xft:icomoon:style=Regular,\
		xft:octicons:style=Medium,\
		xft:Pomodoro:style=Regular,\
		xft:MesloLGS Nerd Font:style=RegularForPowerline,\
		xft:Noto Emoji:style=Regular,\
		xft:Noto Sans Mono:style=Regular
font:Fantasque\ Sans\ Mono 11
*font: fonts

*color24:  #076678
*color66:  #427b58
*color88:  #9d0006
*color96:  #8f3f71
*color100: #79740e
*color108: #8ec07c
*color109: #83a598
*color130: #af3a03
*color136: #b57614
*color142: #b8bb26
*color167: #fb4934
*color175: #d3869b
*color208: #fe8019
*color214: #fabd2f
*color223: #ebdbb2
*color228: #f2e5bc
*color229: #fbf1c7
*color230: #f9f5d7
*color234: #1d2021
*color235: #282828
*color236: #32302f
*color237: #3c3836
*color239: #504945
*color241: #665c54
*color243: #7c6f64
*color244: #928374
*color245: #928374
*color246: #a89984
*color248: #bdae93
*color250: #d5c4a1

*color0: #282828
*color1: #cc241d
*color2: #98971a
*color3: #d79921
*color4: #458588
*color5: #b16286
*color6: #689d6a
*color7: #a89984
*color8: #928374
*color9: #fb4934
*color10: #b8bb26
*color11: #fabd2f
*color12: #83a598
*color13: #d3869b
*color14: #8ec07c
*color15: #ebdbb2

*background: #282828
*foreground: #ebdbb2

rofi.color-enabled: true
rofi.font:Fantasque\ Sans\ Mono 11
!                  bg       border   separator
rofi.color-window: argb:EE282828, #282828, #282828

!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: argb:00282828, #458588, argb:00282828, #458588, #282828
rofi.color-active: argb:00282828, #fabd2f, argb:00282828, #fabd2f, #282828
rofi.color-urgent: argb:00282828, #cc241d, argb:00282828, #cc241d, #282828

xterm.borderWidth: 0
xterm.termName: xterm-256-color
