/**
 * Dynamic Horizontal Tabs Toolbar (with animations)
 * sidebar.verticalTabs: false (with native horizontal tabs)
 */
#main-window #TabsToolbar > .toolbar-items {
  overflow: hidden;
}
/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="​"] #TabsToolbar > .toolbar-items { height: 0 !important; }
/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="​"] #tabbrowser-tabs { z-index: 0 !important; }
/* Hidden state: Hide window buttons in tabs-toolbar */
#main-window[titlepreface*="​"] #TabsToolbar .titlebar-spacer,
#main-window[titlepreface*="​"] #TabsToolbar .titlebar-buttonbox-container {
  display: none !important;
}

.tabbrowser-tab {
	font-size: 12px !important;
}
